/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#character{
  background: url("https://cdn.glitch.com/e2d8bbd2-734e-42ef-9405-900a95c0b215%2Fcharacter_idle.gif?v=1605722423846");
  background-size: contain;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 100px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

:root{
  --pixel-size: 2px;
}
 
