{
  padding: 0;
  margin: 0;
}
#game{
  width: 500px;
  height: 200px;
  border: 1px solid black;
}
#character{
  width: 40px;
  height: 40px;
  background: url("https://cdn.glitch.com/b6d909e0-f638-40b3-bdd5-8a44db9a3d35%2Fpinkeye2.png?v=1606505614110");
  position: relative;
  top: 160px;
}
.animate{
  animation: jump 500ms;
}
@keyframes jump{
  0%{top:150px;}
  30%{top:100px;}
  70%{top:100px;}
  100%{top:150px;}
  
  
}
#block{
  width: 20px;
  height: 20px;
  background-color: #290;
  position: relative;
  top: 120px;
  left: 480px;
  animation: block 1s infinite linear;
}
@keyframes block{
  0%{left: 480px;}
  100%{left: -40px;}
}
#character_2{
  width: 48px;
  height: 58px;
  background: url("https://cdn.glitch.com/b6d909e0-f638-40b3-bdd5-8a44db9a3d35%2Fpinkeyeleveltwo(final).png?v=1606760541057");
  position: relative;
  top:142px;
  
}

#character_3{
  width:51px;
  height:72px;
  background: url("https://cdn.glitch.com/b6d909e0-f638-40b3-bdd5-8a44db9a3d35%2Fpinkeyelevelthree(final).png?v=1606762316733");
  position: relative;
  top:128px;
}

#character_4{
  width:75px;
  height:104px;
  background: url("https://cdn.glitch.com/b6d909e0-f638-40b3-bdd5-8a44db9a3d35%2Fpinkeyelevelfour.png?v=1606776258786");
  position: relative;
  top: 98px
}